body{
    background-color: #f0f2f5;
}
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px 20px;
}
.left-side-area{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
}
.file-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.progress {
    height: 5px;
    border-radius: 0;
}
.progress-bar{
    background-color: red;
}
#progress-bar-container {
    margin-top: 20px;
}
#file-list{
    font-size: small;
    text-align: center;
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    z-index: 9999; /* Ensure it's on top of other content */
    display: none; /* Initially hidden */
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: 3px solid #3498db; /* Blue border */
    border-radius: 50%;
    border-top-color: #555; /* Dark gray border on top */
    animation: spin 1s infinite linear; /* Rotate animation */
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
.highlight {
    border: 2px dashed #007bff; !important; /* Example border style */
    /* Add any other styles you want to apply when the element is highlighted */
}
.entity-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Very light shadow */
}

.edit-btn, .delete-btn {
    margin-left: 5px;
}
.custom-input {
    /*border: 1px solid #ced4da;*/
    background-color: #ffffff;
}
.custom-input .form-control{
    border: none !important;
    box-shadow: none;
}
.custom-input .custom-input button {
    border-radius: 100px;
}

.loading {
    display: none;
}

.loading  .active {
    display: block !important;
}

#form-frame {
    width: 100%;
    height: 50vh; /* Adjust height as needed */
}
